.Login-box
{
	/* border: 0.5px solid black; */
	margin-top: 8%;
	width: 1200px;
	height: 600px;
	background-image: url("../image/box_line.png");
	background-repeat: no-repeat;
	background-size: 1200px 600px;

}

#image_logo
{
	background-image: url("../image/logo.png");
	background-repeat: no-repeat;
	background-size: cover;
	width: 500px;
	height: 300px;
}

.logo
{
	margin: 10% 0 0 9%;
	width: 500px;
	height: 300px;
	float: left;
}
.account
{
	/* border: 0.5px solid black; */
	font-family: 'Noto Sans KR', sans-serif;
	width: 400px;
	height: auto;
	margin: 20% 100px 0 0;
	float: right;
}

#id
{
	color: #000;
	font-size: 35px;
	font-weight: 600;
}

#pw
{
	color: #000;
	font-size: 35px;
	font-weight: 600;
}

/* DO NOT TOUCH */
#id_text
{
	margin-left: 18px;
	border: 0.7px solid black;
	width: 300px;
	height: 40px;
	font-size: 35px;
}
/* DO NOT TOUCH */
#pw_text
{
	border: 0.7px solid black;
	width: 300px;
	height: 40px;
	font-size: 35px;
}